<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trendy Blogs - Author Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<style>
    body {
        background-color: #f9f9f9;
        background-image: url("./images/bg.jpg");
    }

    .success {
        background-color: green;
        color: white;
        padding: 10px;
        text-align: center;

        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
</style>
<script>
    window.onload = function () {
        setTimeout(function () {
            var notificationBar = document.getElementById("notificationBar");
            if (notificationBar) {
                notificationBar.style.display = "none";
            }
        }, 5000); // The bar will disappear after 5 seconds
    };
</script>


<body>
    <header>
        <div id="menu-bar" class="fa-solid fa-bars"></div>
        <a href="/home" class="logo">Trendy Blogs</a>
        <nav class="navbar">
            <a href="/author-setting">Settings</a>
            <a href="/create-draft">Create New Draft</a>
        </nav>
    </header>

    <section class="intro-section">

        <div class="content">
            <% if (message) { %>
                <div id="notificationBar" class="<%= message.type %>">
                    <%= message.content %>
                </div>
                <% } %>
                    <h1 style="font-size: 4.5em; color: var(--black);">Welcome <%= userData.user_name %>, to Author Home
                    </h1>
                    <h3 style="font-size: 1.5em; color: var(--black);">Manage your posts and engage with your audience.
                    </h3>

        </div>
    </section>
    <!-- Products -->
    <section id="products" class="products">

        <h1 class="heading">Published <span>Articles</span></h1>
        <div class="box-container">
            <% if (publishedArticles && publishedArticles.length> 0) { %>
                <% publishedArticles.forEach(function(article) { %>
                    <div class="box">
                        <div class="icons">
                            <a href="/view-article/<%= article.article_id %>" class="fa-solid fa-eye"></a>
                        </div>
                        <img src="<%= article.article_image_path %>"
                            style="transform: rotate(0); margin: auto; display: block; width: 100%; height: 60%;" />
                        <div class="content" style="font-size: 1.2em; margin-top: 20px;">
                            <h3 style="font-size: 1.9em; color: var(--black);">
                                <%= article.article_title %>
                            </h3>
                            <p><strong>Date Published:</strong>
                                <%= article.created_at %>
                            </p>
                            <p><strong>Last Modified:</strong>
                                <%= article.last_modified_date %>
                            </p>
                            <p>Likes: <%= article.likes %>
                                    Views: <%= article.reads %>

                            </p>

                            <a href="/edit-publish-article/<%= article.article_id %>" class="btn">Edit</a>
                            <a href="/delete-published-article/<%= article.article_id %>" class="btn">Delete</a>
                        </div>
                    </div>
                    <% }); %>
                        <% } else { %>
                            <p>No published articles available</p>
                            <% } %>
        </div>

        <!-- Additional static articles here -->


        <h1 class="heading">Draft <span>Articles</span></h1>
        <div class="box-container">
            <% if (drafts && drafts.length> 0) { %>
                <% drafts.forEach(function(draft) { %>
                    <div class="box">
                        <img src="<%= draft.draft_image_path %>"
                            style="transform: rotate(0); margin: auto; display: block; width: 100%; height: 60%;" />
                        <div class="content" style="font-size: 1.2em; margin-top: 20px;">
                            <h3 style="font-size: 1.9em; color: var(--black);">
                                <%= draft.draft_title %>
                            </h3>
                            <p><strong>Author name:</strong>
                                <%= userData.user_name %>
                            </p>

                            <p><strong>Last Modified:</strong>
                                <%= draft.created_at %>
                            </p>
                            <a href="/edit-draft-article/<%= draft.draft_id %>" class="btn">Edit</a>
                            <a href="/publish-article/<%= draft.draft_id %>" class="btn">Publish</a>
                            <a href="/delete-draft/<%= draft.draft_id %>" class="btn">Delete</a>
                        </div>
                    </div>
                    <% }); %>
                        <% } else { %>
                            <p>No drafts available</p>
                            <% } %>

        </div>


    </section>


    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>About Trendy Blogs</h3>
                <a href="/about">About Us</a>
                <a href="/blog">Blog</a>
                <a href="/team">Our Team</a>
                <a href="/contact">Contact Us</a>
            </div>
            <div class="box">
                <h3>Resources</h3>
                <a href="/guides">Guides</a>
                <a href="/categories">Categories</a>
                <a href="/faq">FAQs</a>
                <a href="/support">Support</a>
            </div>
            <div class="box">
                <h3>Follow Us</h3>
                <a href="https://www.facebook.com">Facebook</a>
                <a href="https://www.twitter.com">Twitter</a>
                <a href="https://www.instagram.com">Instagram</a>
                <a href="https://www.youtube.com">YouTube</a>
            </div>
            <div class="box">
                <h3>Legal</h3>
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="/terms-of-service">Terms of Service</a>
                <a href="/cookie-policy">Cookie Policy</a>
                <a href="/disclaimer">Disclaimer</a>
            </div>
        </div>
    </section>
</body>

</html>